<div class="container">
<table class="table">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
    </tr>
    <tr>
        <th scope="row"><%= item.name %></th>
        <td>Rp <%= item.price %></td>
        <td><%= category.name %></td>
        <td>
            <div class="row">
                <div class="col">
                    <a class="text-decoration-none" href='/items/<%= item.id%>/edit'>Edit</a>
                </div>
                <div class="col">
                    <form method="POST" action="/items/<%= item.id %>/delete">
                    <input class="btn btn-primary" type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
</div>